.question-wrapper {
	font-weight: 600;
  text-align: left;
  padding: 20px 0px;
}

.answer-wrapper {
  margin-bottom: 25px;
}

.answer {
	text-align: left;
  padding: 6px 10px 6px 30px;
  position: relative;
}

.answer:before {
	content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 2px solid #888888;
  border-radius: 50%;
  vertical-align: middle;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.answer:nth-child(even) {
	background-color: #dddddd;
}

.answer .rad {
	opacity: 0;
	transition: all 0.3s;
	width: 12px;
	height: 12px;
	background-color: #E54C3C;
	position: absolute;
	left: 9px;
	top: 50%;
  transform: translateY(-50%);
	border-radius: 50%;
}
.answer.selected:before {
	border-color: #E54C3C;
}

.answer.selected .rad{
	opacity: 1;
}