html {
  height: 100%;
}

body {
	margin: 0px;
  text-align: center;
  height: 100%;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

@media( min-width: 1px) {
  .banner {
    height: 65px;
  }

  .terms {
    height: 250px;
    font-size: 14px;
  }
  
  .terms .instruction {
    font-size: 16px;
  }

  .terms .points .points-title:before {
    height: 15px;
    width: 15px;
  }
  
  #page-wrapper {
    height: calc(100% - 65px);
  }
}

@media( min-width: 480px) {
}

@media( min-width: 768px) {
  .terms {
    height: 400px;
    font-size: 16px;
  }

  .terms .instruction {
    font-size: 20px;
  }

  .terms .points .points-title:before {
    height: 18px;
    width: 18px;
  }
}

@media( min-width: 996px) {
  .banner {
    height: 90px;
  }

  #page-wrapper {
    height: calc(100% - 90px);
  }
}

.red {
  color: #E54C3C;
}

.banner {
  width: 100%;
  background-color: #EBEBEB;
  text-align: left;
}

.banner img {
  height: 100%;
  display: block;
  margin: auto;
}

#page-wrapper {
  position: relative;
}

.page {
  text-align: center;
}

.loading-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #E54C3C;
  font-weight: 600;
}

.msg-wrapper {
  font-weight: 600;
}

.terms {
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #AAA;
  padding: 12px;
  text-align: left;
  position: relative;
  width: 90%;
  margin: 15px auto 0px;
  max-width: 1000px;
}

.terms ul {
  padding-left: 20px;
}

.terms::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.terms::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
.terms::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
.terms::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.terms .instruction {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
}

.terms .points {
  position: absolute;
  top: 100%;
}

.terms .points .points-title:before {
  content: "";
  background-color: black;
  display: inline-block;
  margin-right: 5px;
}

.agree-box {
  margin: auto;
  width: 90%;
  margin-top: 20px;
}

.pageQuestion {
  width: 90%;
  max-width: 600px;
  margin: auto;
  font-size: 16px;
}